<h1 class="txt-center">Mobs</h1>
<div class="tile-group container-lg">
    <ng-container *ngFor="let mob of mobs; let i = index">
        <button class="tile-button" [ngClass]="show[i] ? 'active' : ''" (click)="toggle(i)">
            <img src="assets/images/{{mob.name}}.png">
        </button>
        <div class="tile-content" [ngClass]="show[i] ? 'active' : ''">
            <div class="content">
                <h2>{{mob.name}}</h2>
                <p>{{mob.desc}}</p>

                <h3>Base Stats</h3>
                <div class="grid txt-center">
                    <div class="col xs-25">
                        <p>Mv <strong>{{mob.mv}}</strong></p>
                        <p>Jm <strong>{{mob.jm}}</strong></p>
                    </div>
                    <div class="col xs-25">
                        <p>Str <strong>{{mob.str}}</strong></p>
                        <p>Int <strong>{{mob.int}}</strong></p>
                    </div>
                    <div class="col xs-25">
                        <p>End <strong>{{mob.end}}</strong></p>
                        <p>Wil <strong>{{mob.wil}}</strong></p>
                    </div>
                    <div class="col xs-25">
                        <p>Dex <strong>{{mob.dex}}</strong></p>
                        <p>Agi <strong>{{mob.agi}}</strong></p>
                    </div>
                </div>

                <p *ngIf="mob.init[0] != ''">Starting Tech: <span *ngFor="let ini of mob.init; let i = index;"><span *ngIf="i > 0 && ini != ''">, </span><strong>{{ini}}</strong></span></p>

                <h3>{{mob.act}}</h3>
                <div class="table-dark" *ngIf="getTech(mob.name).length > 0">
                    <tech-table [tech]="action" cat="Action" *ngIf="action.length > 0"></tech-table>
                    <tech-table [tech]="reaction" cat="Reaction" *ngIf="reaction.length > 0"></tech-table>
                    <tech-table [tech]="support" cat="Support" *ngIf="support.length > 0"></tech-table>
                    <tech-table [tech]="movement" cat="Movement" *ngIf="movement.length > 0"></tech-table>
                </div>
                <ng-container *ngFor="let tec of action">
                    <div class="action-details">
                        <h3 id="{{tec.name}}" class="action-name">{{tec.name}}</h3>
                        <strong class="top-corner">{{tec.type}}</strong>
                        <p>{{tec.desc}}</p>
                        <tech-phys *ngIf="tec.tags.includes('Physical')" [tec]="tec"></tech-phys>
                        <tech-spec *ngIf="tec.tags.includes('Special')" [tec]="tec"></tech-spec>
                        <tech-other *ngIf="!tec.tags.includes('Physical') && !tec.tags.includes('Special')" [tec]="tec"></tech-other>
                    </div>
                </ng-container>
                <ng-container *ngFor="let tec of reaction">
                    <div class="action-details">
                        <h3 id="{{tec.name}}" class="action-name">{{tec.name}}</h3>
                        <strong class="top-corner">{{tec.type}}</strong>
                        <p>{{tec.desc}}</p>
                        <tech-phys *ngIf="tec.tags.includes('Physical')" [tec]="tec"></tech-phys>
                        <tech-spec *ngIf="tec.tags.includes('Special')" [tec]="tec"></tech-spec>
                        <tech-other *ngIf="!tec.tags.includes('Physical') && !tec.tags.includes('Special')" [tec]="tec"></tech-other>
                        <tech-tags [tags]="tec.tags" *ngIf="tec.tags[0] != ''"></tech-tags>
                    </div>
                </ng-container>
                <ng-container *ngFor="let tec of support">
                    <div class="action-details">
                        <h3 id="{{tec.name}}" class="action-name">{{tec.name}}</h3>
                        <strong class="top-corner">{{tec.type}}</strong>
                        <p>{{tec.desc}}</p>
                        <tech-other *ngIf="!tec.tags.includes('Physical') && !tec.tags.includes('Special')" [tec]="tec"></tech-other>
                        <tech-tags [tags]="tec.tags" *ngIf="tec.tags[0] != ''"></tech-tags>
                    </div>
                </ng-container>
                <ng-container *ngFor="let tec of movement">
                    <div class="action-details">
                        <h3 id="{{tec.name}}" class="action-name">{{tec.name}}</h3>
                        <strong class="top-corner">{{tec.type}}</strong>
                        <p>{{tec.desc}}</p>
                        <tech-other *ngIf="!tec.tags.includes('Physical') && !tec.tags.includes('Special')" [tec]="tec"></tech-other>
                        <tech-tags [tags]="tec.tags" *ngIf="tec.tags[0] != ''"></tech-tags>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>
