<h1 class="txt-center">Mobs</h1>
<div class="tile-group container-lg">
    <ng-container *ngFor="let mob of mobs; let i = index">
        <button class="tile-button" [ngClass]="show[i] ? 'active' : ''" (click)="toggle(i)">
            <img src="assets/images/avatars/{{mob.name}}.png">
        </button>
        <div class="tile-content" [ngClass]="show[i] ? 'active' : ''">
            <div class="content">
                <h2>{{mob.name}}</h2>
                <p>{{mob.desc}}</p>

                <h3>Base Stats</h3>
                <div class="grid txt-center">
                    <div class="col xs-25">
                        <p>Mv <strong>{{mob.mv}}</strong></p>
                        <p>Jm <strong>{{mob.jm}}</strong></p>
                    </div>
                    <div class="col xs-25">
                        <p>Str <strong>{{mob.str}}</strong></p>
                        <p>Int <strong>{{mob.int}}</strong></p>
                    </div>
                    <div class="col xs-25">
                        <p>End <strong>{{mob.end}}</strong></p>
                        <p>Wil <strong>{{mob.wil}}</strong></p>
                    </div>
                    <div class="col xs-25">
                        <p>Dex <strong>{{mob.dex}}</strong></p>
                        <p>Agi <strong>{{mob.agi}}</strong></p>
                    </div>
                </div>

                <p *ngIf="mob.equip[0] != ''">Equip: <span *ngFor="let equ of mob.equip; let i = index;"><span *ngIf="i > 0 && equ != ''">, </span><strong>{{equ}}</strong></span></p>
                <p *ngIf="mob.init[0] != ''">Tech: <span *ngFor="let ini of mob.init; let i = index;"><span *ngIf="i > 0 && ini != ''">, </span><strong>{{ini}}</strong></span></p>

                <h3>{{mob.act}}</h3>
                <tech-list [mojo]="mob.name"></tech-list>
            </div>
        </div>
    </ng-container>
</div>
