<h1 class="txt-center">Mobs</h1>
<div class="tile-group container-lg">
    <ng-container *ngFor="let mob of mobs; let i = index">
        <button class="tile-button" [ngClass]="show[i] ? 'active' : ''" (click)="toggle(i)">
            <img src="assets/images/{{mob.name}}.png">
        </button>
        <div class="tile-content" [ngClass]="show[i] ? 'active' : ''">
            <div class="content">
                <h2>{{mob.name}}</h2>
                <p>{{mob.desc}}</p>

                <h3>Base Stats</h3>
                <div class="grid txt-center">
                    <div class="col xs-25">
                        <p>Mv <strong>{{mob.mv}}</strong></p>
                        <p>Jm <strong>{{mob.jm}}</strong></p>
                    </div>
                    <div class="col xs-25">
                        <p>Str <strong>{{mob.str}}</strong> ({{mob.str | mod}})</p>
                        <p>Int <strong>{{mob.int}}</strong> ({{mob.int | mod}})</p>
                    </div>
                    <div class="col xs-25">
                        <p>End <strong>{{mob.end}}</strong> ({{mob.end | mod}})</p>
                        <p>Wil <strong>{{mob.wil}}</strong> ({{mob.wil | mod}})</p>
                    </div>
                    <div class="col xs-25">
                        <p>Dex <strong>{{mob.dex}}</strong> ({{mob.dex | mod}})</p>
                        <p>Agi <strong>{{mob.agi}}</strong> ({{mob.agi | mod}})</p>
                    </div>
                </div>

                <p *ngIf="mob.init[0] != ''">Starting Tech: <span *ngFor="let ini of mob.init; let i = index;"><span *ngIf="i > 0 && ini != ''">, </span><strong>{{ini}}</strong></span></p>

                <h3>{{mob.act}}</h3>
                <div class="table-dark">
                    <tech-table [tech]="getAction(mob.name)" cat="Action" *ngIf="getAction(mob.name).length > 0"></tech-table>
                    <tech-table [tech]="getReaction(mob.name)" cat="Reaction" *ngIf="getReaction(mob.name).length > 0"></tech-table>
                    <tech-table [tech]="getPassive(mob.name)" cat="Passive" *ngIf="getPassive(mob.name).length > 0"></tech-table>
                    <tech-table [tech]="getMovement(mob.name)" cat="Movement" *ngIf="getMovement(mob.name).length > 0"></tech-table>
                </div>
                <div class="action-details" *ngFor="let tec of getAction(mob.name)">
                    <h3 id="{{tec.name}}" class="action-name">{{tec.name}}</h3>
                    <div class="top-corner">
                        <strong>Action</strong>
                        <p class="txt-right">{{tec.cost}} JP</p>
                    </div>
                    <p>{{tec.desc}}</p>
                    <tech-action [tec]="tec"></tech-action>
                    <tech-tags [tags]="tec.tags" *ngIf="tec.tags[0] != ''"></tech-tags>
                </div>
                <div class="action-details" *ngFor="let tec of getReaction(mob.name)">
                    <h3 id="{{tec.name}}" class="action-name">{{tec.name}}</h3>
                    <div class="top-corner">
                        <strong>Reaction</strong>
                        <p class="txt-right">{{tec.cost}} JP</p>
                    </div>
                    <p>{{tec.desc}}</p>
                    <p>{{tec.effect}}</p>
                </div>
                <div class="action-details" *ngFor="let tec of getPassive(mob.name)">
                    <h3 id="{{tec.name}}" class="action-name">{{tec.name}}</h3>
                    <div class="top-corner">
                        <strong>Passive</strong>
                        <p class="txt-right">{{tec.cost}} JP</p>
                    </div>
                    <p>{{tec.desc}}</p>
                    <p>{{tec.effect}}</p>
                </div>
                <div class="action-details" *ngFor="let tec of getMovement(mob.name)">
                    <h3 id="{{tec.name}}" class="action-name">{{tec.name}}</h3>
                    <div class="top-corner">
                        <strong>Movement</strong>
                        <p class="txt-right">{{tec.cost}} JP</p>
                    </div>
                    <p>{{tec.desc}}</p>
                    <p>{{tec.effect}}</p>
                </div>
            </div>
        </div>
    </ng-container>
</div>
