.action-details {
    position: relative;
    > p {
        margin-top: 0;
    }
    .action-name {
        margin-top: 3rem;
    }    
}

.tech-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-family: serif;
    font-size: 1rem;
    padding: 0;

    &:hover {
        text-decoration: underline;
    }
}

.tile-button {
    &:nth-child(1) {
        background-color: #faeddc;
    }
    &:nth-child(3) {
        background-color: #faeddc;
    }
    &:nth-child(5) {
        background-color: #faeddc;
    }
    &:nth-child(7) {
        background-color: #d4c1b0;
    }
    &:nth-child(9) {
        background-color: #363441;
    }
    &:nth-child(13) {
        background-color: #faeddc;
    }
    &:nth-child(15) {
        background-color: #363441;
    }
    &:nth-child(17) {
        background-color: #d4c1b0;
    }
    &:nth-child(21) {
        background-color: #d4c1b0;
    }
    &:nth-child(23) {
        background-color: #faeddc;
    }
    &:nth-child(25) {
        background-color: #363441;
    }
    &:nth-child(29) {
        background-color: #faeddc;
    }
    &:nth-child(31) {
        background-color: #363441;
    }
    &:nth-child(33) {
        background-color: #d4c1b0;
    }
    &:nth-child(35) {
        background-color: #faeddc;
    }
    &:nth-child(37) {
        background-color: #363441;
    }
    &:nth-child(41) {
        background-color: #363441;
    }
}
