<h1>How to Play</h1>
<div class="container">
    <ul>
        <li><a (click)="scroll('create')" class="jump-link">Create a Character</a></li>
        <li><a (click)="scroll('combat')" class="jump-link">Combat</a></li>
    </ul>
    <div class="content">
        <h2 id="create">Create a Character</h2>
        <h3>Mobs</h3>
        <p class="p"><a routerLink="/mobs">Choose a mob</a> (creature) type for your character. The choosen creature determines the starting stats and abilities of your character.</p>
        <h3>Jobs</h3>
        <p class="p"><a routerLink="/jobs">Choose a job</a> for your character. The chosen job provides bonus stats, inherent abilities, and unlockable abilities.</p>
        <p class="p">While not in combat, characters can freely change between any jobs they have unlocked. Jobs can be unlocked by learning abilities from other jobs, or by purchasing training/license from a trainer.</p>
        <h3>Stats</h3>
        <p class="p">Determine stats by adding up mobs stats, job stat bonuses, and level stat bonuses. Strength, Endurance, Dexterity, Agility, Intelligence, Will. At Level 1 add one point to one of your stats.</p>
        <p class="p"><strong>Strength</strong> Physical Attacks, Physical Techniques</p>
        <p class="p"><strong>Endurance</strong> Health Points</p>
        <p class="p"><strong>Dexterity</strong> Attack Accuracy</p>
        <p class="p"><strong>Agility</strong> Evasion</p>
        <p class="p"><strong>Intelligence</strong> Special Attacks, Special Techniques, Special Success Rate</p>
        <p class="p"><strong>Will</strong> Focus Points</p>
        <h3>Progression</h3>
        <table>
            <div class="grid">
                <div class="col xs-10"><strong>1</strong></div>
                <div class="col xs-10">0</div>
            </div>
            <div class="grid">
                <div class="col xs-10"><strong>2</strong></div>
                <div class="col xs-10">150</div>
            </div>
            <div class="grid">
                <div class="col xs-10"><strong>3</strong></div>
                <div class="col xs-10">330</div>
            </div>
            <div class="grid">
                <div class="col xs-10"><strong>4</strong></div>
                <div class="col xs-10">540</div>
            </div>
            <div class="grid">
                <div class="col xs-10"><strong>5</strong></div>
                <div class="col xs-10">800</div>
            </div>
            <div class="grid">
                <div class="col xs-10"><strong>6</strong></div>
                <div class="col xs-10">1100</div>
            </div>
            <div class="grid">
                <div class="col xs-10"><strong>7</strong></div>
                <div class="col xs-10">1500</div>
            </div>
            <div class="grid">
                <div class="col xs-10"><strong>8</strong></div>
                <div class="col xs-10">1950</div>
            </div>
            <div class="grid">
                <div class="col xs-10"><strong>9</strong></div>
                <div class="col xs-10">2500</div>
            </div>
            <div class="grid">
                <div class="col xs-10"><strong>10</strong></div>
                <div class="col xs-10">3200</div>
            </div>
        </table>
        <br>
    </div>
    <div class="content">
        <h2 id="combat">Combat</h2>
        <p class="p">Combat consists of rounds. Each <strong>round</strong>, characters takes a <strong>turn</strong> to move and perform an action. Rounds are repeated until one team is elminated, or until a unique objective has been completed.</p>
        <p class="p">Turn order is determined by which character has the highest <strong>agility</strong>. Ties are resolved randomly (by coin toss or dice roll).</p>
        
        <h3>Movement</h3>
        <p class="p">Characters can move before and after performing an action, as long as they have the required Mv available and are not otherwise restricted from moving.</p>
        
        <h3>Move (Mv)</h3>
        <p class="p">Characters can move a number of squares equal to their <strong>Mv</strong> each turn.</p>
        <p class="p">If a character still has remaining Mv after moving and performing an action, they can continue to move after their action.</p>
        <p class="p">After each move the character determines their facing. Facing can change the accuracy and effect of incoming attacks and techniques.</p>
        
        <h3>Jump (Jm)</h3>
        <p class="p">Moving from one space to another is limited by height.</p>
        <p class="p">If the hieght difference of a space is greater than a character's Jump <strong>Jm</strong>, they cannot move into that space.</p>
        <p class="p">If the difference of a lower space is greater than a character's jump, they will recieve damage from moving into that space.<br>(Hieght Difference x (2 + End))</p>
        
        <h3>Swim</h3>
        <p class="p">When moving from a space with a water height of 2 or greater, a character is considered to be swimming.
        <p class="p">Two Mv is required to move to another space while swimming. Characters cannot attack while they are currently swimming.</p>
        <p class="p">Techniques such as Swim and Aquaphobia, can affect a characters movement and actions in water.</p>
        
        <h3>Actions</h3>
        <p class="p">Each character can make one action during their turn. <strong>Attacks</strong> and <strong>Techniques</strong> can beformed as an action.</p>
        
        <h3>Attack</h3>
        <p class="p">Attacks are actions use to attack a target with an equiped weapon. To attack a character must choose a target that is in <strong>range</strong>, determined <strong>accuracy</strong> against the target's <strong>defense</strong>, then determine <strong>damage</strong> if the attack hits.</p>
        <p class="p">Characters can attack with one weapon they have avaialbe through their Equipement or Techniques.</p>
        <p class="p">Characters with multiple weapons available can must choose only one weapon to attack with. A character can only attack with two weapons if they have the Dual Wield technique assigned.</p>
        
        <h3>Range</h3>
        <p class="p">Range is used to determine eligible targets for an attack or technique. The verticle range of all attacks and techniques is equal to their range.</p>

        <h3>Accuracy</h3>
        <p class="p">Attack accuracy for weapons is based on Dexterity (Dex).</p>
        <p class="p">To determin accuracy, roll a d20 and add the characters Dex to that number.</p>
        <p class="p">Accuracy is then compared to the target's Defense, their Block or Dodge (whichever is higher). If the Accuracy is equal to or higher the attack hits.</p>
        <p class="p">Block is considered to be 0 when the target is attacked from othe back.</p>

        <h3>Technique</h3>
        <p class="p">Their are a wide variety of techniques. <!--TOD-->Physical<!--TOD--> techniques work exactly like weapon attacks. While <!--TOD-->Special<!--TOD--> techniques are similar, but their success is determined by <strong>failure rate</strong> instead of accuracy.</p>
        <h3>Failure Rate</h3>
        <p class="p">After choosing a target or area for the technique, the attacker then rolls a d20 and adds a number to that based on the attribute associated with the spell. If the roll is equal to or higher than the failure rate plus the target's defense, the attack hits.</p>
        <h3>Unblockable</h3>
        <p class="p">Some special techniques cannot be blocked. Block is considered to be 0 when trageting a character with an unblockable attack.</p>
        <h3>Undodgeable</h3>
        <p class="p">Some special techniques cannot be dodged. Dodge is considered to be 0 when trageting a character with an undodgeable attack.</p>
        <h3>Reactions</h3>
        <p class="p">Triggers</p>
    </div>
</div>
