.action-details {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
}
.action-details-item {
  display: grid;
  grid-template-columns: max-content auto auto;
  gap: 0.25rem;
}
h4 {
  font-family: serif;
  font-size: 1.1rem;
  text-transform: none;
}

.bg-black {
  background: #000000ee;
  color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
}
.tech-head, .tech-button {
  color: white;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}
.tech-head {
  margin-bottom: 0.5rem;
}
.tech-button {
  background: none;
  border: none;
  border-top: solid 1px #c1c1c1;
  color: white;
  cursor: pointer;
  font-family: serif;
  font-size: 1rem;
  padding: 0.5rem 0;
  width: 100%;
}
.tech-button:hover {
  transition: .25s;
  color: #f34232;
}
