<h1>Create a Character</h1>
<div class="container">
    <div class="content">
        <h2>Name</h2>
        <p>
            <span>Lv</span>,&nbsp;
            <span>Mob</span>,&nbsp;
            <span>Job</span>,&nbsp;
            <span>Exp</span>
        </p>
        <p>
            <span>Hp</span>&nbsp;
            <span>#</span>,&nbsp;
            <span>Fp</span>&nbsp;
            <span>#</span>,&nbsp;
            <span>Mv</span>&nbsp;
            <span>#</span>,&nbsp;
            <span>Jm</span>&nbsp;
            <span>#</span>,&nbsp;
            <span>Blk</span>&nbsp;
            <span>#</span>,&nbsp;
            <span>Eva</span>&nbsp;
            <span>#</span>
        </p>
        <p>
            <span>Str</span>&nbsp;
            <span>#</span>,&nbsp;
            <span>Int</span>&nbsp;
            <span>#</span>,&nbsp;
            <span>End</span>&nbsp;
            <span>#</span>,&nbsp;
            <span>Wil</span>&nbsp;
            <span>#</span>,&nbsp;
            <span>Dex</span>&nbsp;
            <span>#</span>,&nbsp;
            <span>Agi</span>&nbsp;
            <span>#</span>
        </p>
        <div class="grid">
            <div class="col sm-50">
                <p>Hand 1 #</p>
                <p>Hand 2 #</p>
                <p>Armor #</p>
                <p>Acc 1 #</p>
                <p>Acc 2 #</p>
            </div>
            <div class="col sm-50">
                <p>Action 1 #</p>
                <p>Action 2 #</p>
                <p>Reaction #</p>
                <p>Passive #</p>
                <p>Movement #</p>
            </div>
        </div>
        <h3>Tech</h3>
        <p>
            <span>Tech 1</span><br>
            <span>Tech 2</span><br>
            <span>Tech 3</span><br>
            <a href="#">+ Add Tech</a>
        </p>
    </div>
</div>