<h1 class="txt-center">Jobs</h1>
<div class="tile-group container-lg">
    <ng-container *ngFor="let job of jobs; let i = index">
        <button class="tile-button" [ngClass]="show[i] ? 'active' : ''" (click)="toggle(i)">
            <img src="assets/images/{{job.name}}.png">
        </button>
        <div class="tile-content" [ngClass]="show[i] ? 'active' : ''">
            <div class="content">
                <h2>{{job.name}}</h2>
                <p>{{job.desc}}</p>

                <p>
                    <job-stat [stat]="job.mv">Mv: </job-stat>
                    <job-stat [stat]="job.jm">Jm: </job-stat>
                    <job-stat [stat]="job.str">Str: </job-stat>
                    <job-stat [stat]="job.int">Int: </job-stat>
                    <job-stat [stat]="job.end">End: </job-stat>
                    <job-stat [stat]="job.wil">Wil: </job-stat>
                    <job-stat [stat]="job.dex">Dex: </job-stat>
                    <job-stat [stat]="job.agi">Agi: </job-stat>
                </p>

                <p>Equip: <span *ngFor="let equ of job.equip; let i = index;"><span *ngIf="i > 0 && equ != ''">, </span><strong>{{equ}}</strong></span></p>
                <p *ngIf="job.init[0] != ''">Tech: <span *ngFor="let ini of job.init; let i = index;"><span *ngIf="i > 0 && ini != ''">, </span><strong>{{ini}}</strong></span></p>

                <h3>{{job.act}}</h3>
                <div class="table-dark">
                    <tech-table [tech]="getAction(job.name)" cat="Action ↯" *ngIf="getAction(job.name).length > 0"></tech-table>
                    <tech-table [tech]="getReaction(job.name)" cat="Reaction ↶" *ngIf="getReaction(job.name).length > 0"></tech-table>
                    <tech-table [tech]="getPassive(job.name)" cat="Passive ↻" *ngIf="getPassive(job.name).length > 0"></tech-table>
                    <tech-table [tech]="getMovement(job.name)" cat="Movement ↗" *ngIf="getMovement(job.name).length > 0"></tech-table>
                </div>

                <div class="action-details">
                    <div *ngFor="let tec of getAction(job.name)">
                        <header class="action-details-item">
                            <h4 id="{{tec.name}}" class="action-name">{{tec.name}}</h4>
                            <span>- Action ↯</span>
                            <span class="txt-right">{{tec.cost}} JP</span>
                        </header>
                        <p>{{tec.effect}}</p>
                        <tech-action [tec]="tec"></tech-action>
                    </div>
                    <div *ngFor="let tec of getReaction(job.name)">
                        <header class="action-details-item">
                            <h4 id="{{tec.name}}" class="action-name">{{tec.name}}</h4>
                            <span>- Reaction ↶</span>
                            <span class="txt-right">{{tec.cost}} JP</span>
                        </header>
                        <p>{{tec.desc}}</p>
                        <p>Trigger: {{tec.trigger}}</p>
                        <p>{{tec.effect}}</p>
                    </div>
                    <div *ngFor="let tec of getPassive(job.name)">
                        <header class="action-details-item">
                            <h4 id="{{tec.name}}" class="action-name">{{tec.name}}</h4>
                            <span>- Passive ↻</span>
                            <span class="txt-right">{{tec.cost}} JP</span>
                        </header>
                        <p>{{tec.desc}}</p>
                        <p>{{tec.effect}}</p>
                    </div>
                    <div *ngFor="let tec of getMovement(job.name)">
                        <header class="action-details-item">
                            <h4 id="{{tec.name}}" class="action-name">{{tec.name}}</h4>
                            <span>- Movement ↗</span>
                            <span class="txt-right">{{tec.cost}} JP</span>
                        </header>
                        <p>{{tec.desc}}</p>
                        <p>{{tec.effect}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
