@bg-light: #dad5cc;
@bg-neutral: #ccb9a4;
@bg-dark: #343d4f;

.action-details {
    position: relative;
    > p {
        margin-top: 0;
    }
    .action-name {
        margin-top: 3rem;
    }    
}

.tile-button {
    &:nth-child(1) {
        background-color: @bg-light;
        background-image: url('../../assets/images/00 Courier.png');
        background-position: 0.75rem 0.5rem;
    }
    &:nth-child(3) {
        background-color: @bg-light;
        background-image: url('../../assets/images/01 Artisan.png');
        background-position: 0.25rem 0.5rem;
    }
    &:nth-child(5) {
        background-color: @bg-light;
        background-image: url('../../assets/images/02 Fighter.png');
        background-position: -2.25rem 0.5rem;
        background-size: 135%;
    }
    &:nth-child(7) {
        background-color: @bg-neutral;
        background-image: url('../../assets/images/03 Hunter.png');
        background-position: 0.25rem 0.5rem;
    }
    &:nth-child(9) {
        background-color: @bg-dark;
        background-image: url('../../assets/images/04 Chemist.png');
        background-position: 0.5rem 0.5rem;
    }
    &:nth-child(11) {
        background-image: url('../../assets/images/05 Medic.png');
        background-position: 0.5rem 0.5rem;
    }
    &:nth-child(13) {
        background-color: @bg-light;
        background-image: url('../../assets/images/06 Monk.png');
        background-position: 1rem 0.5rem;
        background-size: 80%;
    }
    &:nth-child(15) {
        background-color: @bg-dark;
        background-image: url('../../assets/images/07 Mercenary.png');
        background-position: 0.75rem 0.5rem;
        background-size: 85%;
    }
    &:nth-child(17) {
        background-color: @bg-neutral;
        background-image: url('../../assets/images/08 Naturalist.png');
        background-position: 0.25rem 0.5rem;
    }
    &:nth-child(19) {
        background-image: url('../../assets/images/09 Counselor.png');
        background-position: 0.75rem 0.5rem;
        background-size: 85%;
    }
    &:nth-child(21) {
        background-color: @bg-neutral;
        background-image: url('../../assets/images/10 Outlander.png');
        background-position: 1.3rem -0.25rem;
        background-size: 75%;
    }
    &:nth-child(23) {
        background-color: @bg-light;
        background-image: url('../../assets/images/11 Knight.png');
        background-position: 0.75rem 0.25rem;
        background-size: 85%;
    }
    &:nth-child(25) {
        background-color: @bg-neutral;
        background-image: url('../../assets/images/12 Occultist.png');
        background-position: 0.85rem 0.5rem;
        background-size: 80%;
    }
    &:nth-child(27) {
        background-image: url('../../assets/images/13 Tactician.png');
        background-position: -0.33rem 0.5rem;
        background-size: 105%;
    }
    &:nth-child(29) {
        background-color: @bg-light;
        background-image: url('../../assets/images/14 Engineer.png');
        background-position: 0.75rem 0.5rem;
        background-size: 80%;
    }
    &:nth-child(31) {
        background-color: @bg-dark;
        background-image: url('../../assets/images/15 Agent.png');
        background-position: -0.2rem -0;
        background-size: 110%;
    }
    &:nth-child(33) {
        background-color: @bg-neutral;
        background-image: url('../../assets/images/16 Astrologian.png');
        background-position: 0.55rem -0.5rem;
        background-size: 85%;
    }
    &:nth-child(35) {
        background-color: @bg-light;
        background-image: url('../../assets/images/17 Performer.png');
        background-position: -1rem 0.33rem;
        background-size: 110%;
    }
    &:nth-child(37) {
        background-color: @bg-dark;
        background-image: url('../../assets/images/18 Analyst.png');
        background-position: 0.8rem 0.25rem;
        background-size: 85%;
    }
    &:nth-child(39) {
        background-image: url('../../assets/images/19 Paladin.png');
        background-position: 0.75rem 0.25rem;
        background-size: 85%;
    }
    &:nth-child(41) {
        background-color: @bg-dark;
        background-image: url('../../assets/images/20 Judge.png');
        background-position: 0 -0.75rem;
        background-size: 95%;
    }
    &:nth-child(43) {
        background-image: url('../../assets/images/21 Drone.png');
        background-position: 1.15rem 0.5rem;
        background-size: 75%;
    }
}
