@bg-light: #dad5cc;
@bg-neutral: #ccb9a4;
@bg-dark: #343d4f;

.action-details {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 1rem;

    h3 {
        margin-top: 3rem;
        font-family: sans-serif;
        text-transform: uppercase;
    }

    h4 {
        font-family: serif;
        font-size: 1.1rem;
        text-transform: none;
    }

    p {
        margin-top: 0.5rem;
    }

    .action-details-item {
        display: grid;
        grid-template-columns: max-content auto auto;
        gap: 0.25rem;
    }
}
.tile-button {
    &:nth-child(1) {
        background-color: @bg-light;
    }
    &:nth-child(3) {
        background-color: @bg-light;
    }
    &:nth-child(5) {
        background-color: @bg-neutral;
    }
    &:nth-child(7) {
        background-color: @bg-neutral;
    }
    &:nth-child(9) {
        background-color: @bg-dark;
    }
    &:nth-child(13) {
        background-color: @bg-light;
    }
    &:nth-child(15) {
        background-color: @bg-dark;
    }
    &:nth-child(17) {
        background-color: @bg-neutral;
    }
    &:nth-child(21) {
        background-color: @bg-neutral;
    }
    &:nth-child(23) {
        background-color: @bg-light;
    }
    &:nth-child(25) {
        background-color: @bg-neutral;
    }
    &:nth-child(29) {
        background-color: @bg-light;
    }
    &:nth-child(31) {
        background-color: @bg-dark;
    }
    &:nth-child(33) {
        background-color: @bg-neutral;
    }
    &:nth-child(35) {
        background-color: @bg-light;
    }
    &:nth-child(37) {
        background-color: @bg-dark;
    }
    &:nth-child(41) {
        background-color: @bg-dark;
    }
}
