<div class="container">
    <div class="title">
        <h1 class="main-title">👹Chimera</h1>
        <p class="subtitle">Badgerland</p>
        <div class="arrow" (click)="scroll('content')">⬇️</div>
    </div>
    
    <div id="content" class="content">
        <p>Chimera is a tabletop role-playing game. This site contains a system of rule explaining how to play the game. It can be played in person around a table or online using a virtual tabletop.</p>
        <p class="txt-center">
            <button routerLink="/rules">How to Play</button>
        </p>
    </div>
<!-- 
    <br>
    <div id="content" class="content">
        <p>A helpfull tool for creating and managing you character.</p>
        <p class="txt-center">
            <button routerLink="/create">Create a Character</button>
        </p>
    </div>
 -->
</div>
