<div class="container">
    <div class="title">
        <h1 class="main-title">👹Chimera</h1>
        <p class="subtitle">Badgerland</p>
        <div class="arrow" (click)="scroll('content')">⬇️</div>
    </div>
    
    <app-promo link="rules" button="How to Play">Chimera is a tabletop role-playing game. This site contains a system of rule explaining how to play the game. It can be played in person around a table or online using a virtual tabletop.</app-promo>
</div>
<div style="background:black;">
<div class="grid container">
    <div class="col md-50 txt-center">
        <h2>Character Creation</h2>
        <p style="color:white;">A small something about something.</p>
        <p>
            <button class="button" routerLink="/create">Create a Character</button>
        </p>
    </div>
    <p class="col md-50">
        <img src="assets/images/Fighter.png">
    </p>
</div>
</div>
<div>
    <div class="grid container">
    <p class="col md-50">
        <img src="assets/images/Dodo.png">
    </p>
    <div class="col md-50 txt-center">
        <h2 class="txt-center">Monsters</h2>
        <p style="color:white;">A small something about something.</p>
        <p>
            <button class="button" routerLink="/mobs">Monsters</button>
        </p>
    </div>
</div>
</div>
